html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: url('/img/bg.jpg') no-repeat top center;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.body__content {
    max-width: 1024px;
    margin-top: 15px;
    display: inline-block;
    text-align: left;
    color: #333;
}

.body__content-box-shadow {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

.header {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header__logo {
    padding: 17px 0 18px 31px;
}

.logo {
    text-transform: uppercase;
    font-size: 48px;
}

.logo__link {
    color: #333;
    
}

.header__menu {
    padding: 0 10px 15px 0;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: flex-end;
}

.header__menu.menu {
    list-style: none;
}

.header__menu.menu .menu__item {
    font-size: 12px;
    padding: 0 4px 0 5px;
    text-decoration: underline;
}

.header__menu.menu .menu__item.menu-item-border-right {
    border-right: 1px solid #777;
}

.header__menu.menu .menu__item.menu-item-border-left {
    border-left: 1px solid #b4b4b4;
}

.header__menu.menu .menu__link {
    color: #0033cc;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: #fff;
}

.aside_left {
    min-width: 200px;
    background-color: #ccc;
}

.aside__menu.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aside__menu.menu .menu__item {
    display: block;
    background-color: #bdbdbd;
    font-size: 14px;
}

.aside__menu.menu .menu__item_margin_bottom {
    margin-bottom: 1px;
}

.aside__menu.menu .menu__item-selected {
    background-color: #e9e8e8;
}

.aside__menu.menu .menu__link {
    color: #0033cc;
    display: block;
    padding: 7px 13px 7px 12px;
    transition: 0.3s ease all;
}

.aside__menu.menu .menu__link:not(.active):hover {
    background-color: #aaa;
}

.aside__menu.menu .menu__link.active {
    color: #6c6c6c;
}

.content-wrapper {
    width: 100%;
}

.content {
    padding: 21px 15px 56px 27px;
}

.content__header {
    border-bottom: 4px solid #ccc;
    margin-bottom: 18px;
}

.content__header h1 {
    color: #333;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.content__text {
    color: #333;
    font-size: 14px;
}

.content__image {
    float: left;
    margin-right: 20px;
}

.aside_right {
    min-width: 200px;
    width: 200px;
    background-color: #ccc;
}

.aside__articles-wrapper {
    padding: 21px 12px 50px 13px;
}

.aside__header {
    border-bottom: 4px solid #fff;
    margin-bottom: 15px;
}

.aside__header h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.aside_right .article__item {
    margin-bottom: 18px;
}

.aside_right .article__item .article__header {
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.aside_right .article__item .article__header_margin_bottom {
    margin-bottom: 5px;
}

.aside_right .article__item .article__text {
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: block;
}

.copyright {
    color: #f0f0f0;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

